.body {
    background-color: rgb(255, 255, 255);
}

.name {
    color: rgb(0, 0, 0);
}

.intro {
    color: rgb(0, 0, 0); 
}

.homepagetextcolor{
    color: white;
}
.techstacktextcolor{
    color: white;
}
.abouttextcolor{
    color: white;
}

.HeaderHomePage{
    background-color: #000000;
    color: white; 
    padding: 20px;
}
.homepage {
    width: 100px;
    height: 100px;
    position: absolute; 
    top: 10px; 
    left: 40%; 
    transform: translateX(-50%);    
}
.about {
    width: 100px;
    height: 100px;
    position: absolute; 
    top: 10px; 
    left: 52%; 
    transform: translateX(-50%);    
}

.techstack {
    width: 100px;
    height: 100px;
    position: absolute; 
    top: 10px; 
    left: 46%; 
    transform: translateX(-50%);    
}